body{
    margin: 0;
    background-color: lightgreen;
}

#top{
    background-color: blue;
}

/*Navigation*/
.navbar-nav{
    padding-right: 20px;
}

.nav-link{
    padding-left: 5px;
}

/*Poll Side*/

.rw1{

}